@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
:root {
  --font-size: 14px;
  --font-family: "Poppins", sans-serif;
  --font-weight: 400;
  --color-gray: #707070;
  --color-blue: #2E266F;
  --color-red: #FE043C;
  --color-green: #35CD8C;
  --border-radius: 20px;
  --opacity: 0.7;
}

* {
  box-sizing: border-box;
  margin: 0px;
}

h2,
p {
  margin: 0;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  line-height: 1.7142857143rem;
}

.header {
  background-color: #FFF5EC;
  position: relative;
  width: 100%;
  height: 1048px;
  z-index: -3;
}
.header__top {
  padding: 0 125px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__top .left_head {
  display: flex;
  align-items: center;
}
.header__top .left_head .logo {
  color: var(--color-red);
  width: 245px;
  height: 108px;
  font-weight: 700;
  font-size: 72px;
  line-height: 108px;
  margin-right: 200px;
}
.header__top .left_head .nav {
  color: var(--color-blue);
}
.header__top .user {
  z-index: 1;
}
.header__main .main__left {
  position: absolute;
  top: 258px;
  left: 124px;
}

.nav ul {
  display: flex;
  list-style-type: none;
}
.nav ul li {
  margin: 20px;
}
.nav ul li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
}

.user {
  display: flex;
  color: white;
  font-size: 16px;
}
.user__icon {
  position: relative;
  text-align: center;
  width: 25px;
  height: 25px;
  background-color: white;
  z-index: 10;
  border-radius: 50%;
  color: var(--color-blue);
  margin-right: 5px;
}
.user__icon--green {
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
  width: 10px;
  height: 10px;
  z-index: 2000;
  border-radius: 50%;
}
.user__name .user__text {
  margin-right: 5px;
}

.text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text__food {
  font-size: 200px;
  color: var(--color-blue);
  line-height: 300px;
  text-transform: capitalize;
  opacity: 0.05;
}
.text__sub {
  font-size: 72px;
  line-height: 90px;
  color: var(--color-blue);
  text-transform: capitalize;
  font-weight: 700;
}

.img {
  position: absolute;
  right: 130px;
  top: 176px;
  width: 870px;
}
.img__make {
  width: 100%;
  position: absolute;
  right: 140px;
  top: 0px;
  z-index: -5;
}
.img__delicious {
  position: absolute;
  top: -50px;
  width: 100%;
  z-index: 5;
}
.img__lettuce {
  width: 60%;
  position: absolute;
  right: 140px;
  top: -250px;
  z-index: -4;
}

.search {
  width: 670px;
  position: relative;
}
.search__input {
  width: 100%;
  height: 90px;
  border: none;
}
.search__btn {
  background-color: var(--color-red);
  padding: rem(21) rem(75);
  height: 85px;
}
.search__btn--round {
  position: absolute;
  right: 1%;
  height: 85%;
  font-size: 30px;
  width: 194px;
  border-radius: 90px 0 0 0;
  border: none;
  color: white;
  top: 50%;
  transform: translateY(-50%);
}

.icon_left {
  position: absolute;
  left: 0;
  bottom: 90px;
  background-color: var(--color-red);
  width: 280px;
  height: 65px;
  border-radius: 0px 100px 100px 0px;
  font-size: 30px;
  color: white;
  padding-left: 25px;
}
.icon_left .fa-solid {
  margin: 17px;
}

.red {
  position: absolute;
  background-color: var(--color-red);
  width: 514px;
  height: 1210px;
  right: 0px;
  top: 0px;
  z-index: -5;
}

.aaaa {
  height: 900px;
}

/*# sourceMappingURL=output.css.map */
