@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
:root {
  --font-size: 14px;
  --font-family: "Poppins", sans-serif;
  --font-weight: 400;
  --color-gray: #707070;
  --color-blue: #2E266F;
  --color-red: #FE043C;
  --color-green: #35CD8C;
  --border-radius: 20px;
  --opacity: 0.7;
}

* {
  box-sizing: border-box;
  margin: 0px;
}

h2,
p {
  margin: 0;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  line-height: 1.7142857143rem;
}

.header {
  background-color: #FFF5EC;
  position: relative;
  width: 100%;
  height: 1048px;
  z-index: -3;
}
.header__top {
  padding: 0 125px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__top .left_head {
  display: flex;
  align-items: center;
}
.header__top .left_head .logo {
  color: var(--color-red);
  width: 245px;
  height: 108px;
  font-weight: 700;
  font-size: 72px;
  line-height: 108px;
}
.header__top .left_head .nav {
  color: var(--color-blue);
}
.header__top .user {
  z-index: 1;
}
.header__main .main__left {
  position: absolute;
  top: 100px;
  left: 124px;
}

.nav ul {
  display: flex;
  list-style-type: none;
}
.nav ul li {
  margin: 20px;
}
.nav ul li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
}

.user {
  display: flex;
  color: white;
  font-size: 16px;
}
.user__icon {
  position: relative;
  text-align: center;
  width: 25px;
  height: 25px;
  background-color: white;
  z-index: 10;
  border-radius: 50%;
  color: var(--color-blue);
  margin-right: 5px;
}
.user__icon--green {
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
  width: 10px;
  height: 10px;
  z-index: 2000;
  border-radius: 50%;
}
.user__name .user__text {
  margin-right: 5px;
}

.text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text__food {
  font-weight: 900;
  font-size: 200px;
  color: var(--color-blue);
  line-height: 300px;
  text-transform: capitalize;
  opacity: 0.05;
}
.text__sub {
  font-size: 72px;
  line-height: 90px;
  color: var(--color-blue);
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 40px;
}

.img {
  position: absolute;
  right: 130px;
  top: 176px;
  width: 870px;
}
.img__make {
  width: 100%;
  position: absolute;
  right: 140px;
  top: 0px;
  z-index: -5;
}
.img__delicious {
  position: absolute;
  top: -50px;
  width: 100%;
  z-index: 5;
}
.img__lettuce {
  width: 60%;
  position: absolute;
  right: 140px;
  top: -250px;
  z-index: -4;
}

.search {
  width: 670px;
  position: relative;
}
.search__input {
  width: 100%;
  height: 90px;
  border: none;
}
.search__btn {
  background-color: var(--color-red);
  padding: rem(21) rem(75);
  height: 85px;
}
.search__btn--round {
  position: absolute;
  right: 1%;
  height: 85%;
  font-size: 30px;
  width: 194px;
  border-radius: 90px 0 0 0;
  border: none;
  color: white;
  top: 50%;
  transform: translateY(-50%);
}

.icon_left {
  position: absolute;
  left: 0;
  bottom: 90px;
  background-color: var(--color-red);
  width: 280px;
  height: 65px;
  border-radius: 0px 100px 100px 0px;
  font-size: 30px;
  color: white;
  padding-left: 25px;
}
.icon_left .fa-solid {
  margin: 17px;
}

.red {
  position: absolute;
  background-color: var(--color-red);
  width: 514px;
  height: 1210px;
  right: 0px;
  top: 0px;
  z-index: -5;
}

.menu {
  display: none;
}

.next__left {
  position: absolute;
  bottom: 100px;
  right: 260px;
  width: 45px;
}
.next__left img {
  width: 100%;
}
.next__right {
  position: absolute;
  bottom: 100px;
  right: 180px;
  width: 45px;
}
.next__right img {
  width: 100%;
}

@media only screen and (max-width: 1192px) {
  .header {
    width: 100%;
    height: 924px;
  }
  .header__top .left_head .logo {
    position: absolute;
    left: 30px;
    top: 40px;
    width: 245px;
    height: 55px;
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
  }
  .header__top .left_head .nav {
    display: none;
  }
  .header__top .user {
    display: none;
    z-index: 1;
  }
  .header__main .main__left {
    position: absolute;
    top: 188px;
    left: 24px;
  }
  .text__food {
    font-size: 60px;
    line-height: 70px;
  }
  .text__sub {
    font-size: 60px;
    line-height: 70px;
    margin: 30px 0px;
  }
  .img {
    position: absolute;
    right: 50px;
    top: 176px;
    width: 550px;
  }
  .img__make {
    width: 80%;
    position: absolute;
    right: 140px;
    top: 0px;
    z-index: -5;
  }
  .img__delicious {
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: 5;
  }
  .img__lettuce {
    width: 50%;
    position: absolute;
    right: 140px;
    top: -200px;
    z-index: -4;
  }
  .search {
    width: 470px;
  }
  .search__btn--round {
    width: 121px;
  }
  .red {
    width: 302px;
    height: 924px;
  }
  .next__left {
    bottom: 120px;
    right: 180px;
    width: 50px;
  }
  .next__left img {
    width: 100%;
  }
  .next__right {
    bottom: 120px;
    right: 80px;
    width: 50px;
  }
  .next__right img {
    width: 100%;
  }
  .icon_left {
    bottom: 187px;
  }
  .menu {
    width: 50px;
    color: white;
    display: block;
    position: absolute;
    top: 70px;
    right: 33px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .menu:hover .dropdown-content {
    display: block;
  }
}
@media only screen and (max-width: 554px) {
  .header {
    width: 100%;
    height: 1054px;
  }
  .header__top .left_head .logo {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 165px;
    height: 55px;
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
  }
  .header__top .left_head .nav {
    display: none;
  }
  .header__top .user {
    display: none;
    z-index: 1;
  }
  .header__main .main__left {
    position: absolute;
    top: 107px;
    left: 24px;
  }
  .text__food {
    font-size: 100px;
    line-height: 70px;
  }
  .text__sub {
    font-size: 60px;
    line-height: 70px;
    margin: 30px 0px;
  }
  .img {
    position: absolute;
    left: 100px;
    top: 720px;
    width: 400px;
  }
  .img__make {
    width: 80%;
    position: absolute;
    right: 140px;
    top: 0px;
    z-index: -5;
  }
  .img__delicious {
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: 5;
  }
  .img__lettuce {
    width: 50%;
    position: absolute;
    right: 0px;
    top: -180px;
    z-index: -4;
  }
  .search {
    width: 470px;
  }
  .search__btn--round {
    width: 121px;
  }
  .red {
    width: 140px;
    height: 1054px;
  }
  .next__left {
    width: 30px;
    bottom: 10px;
    right: 70px;
  }
  .next__left img {
    width: 100%;
  }
  .next__right {
    width: 30px;
    bottom: 10px;
    right: 20px;
  }
  .next__right img {
    width: 100%;
  }
  .icon_left {
    bottom: 387px;
  }
  .menu {
    width: 50px;
    color: white;
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .menu:hover .dropdown-content {
    display: block;
  }
}
.loc {
  background-color: rgba(84, 255, 0, 0.1098039216);
}

.cardh2p {
  text-align: center;
  line-height: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cardh2p > h2 {
  line-height: 2em;
  font-size: 5em;
  font-weight: bold;
  color: rgba(88, 33, 122, 0.968627451);
}

.cardh2p > p {
  width: 45%;
  font-size: 1.5rem;
  word-break: break-all;
}

.loc > .content {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 32rem 32rem 32rem;
  gap: 1rem 1rem;
  justify-content: center;
  padding-bottom: 2rem;
}

.loc > div > div {
  background-color: white;
  border-radius: 1rem;
  width: 90%;
}

.loc > div > div > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.loc > div > div > p {
  margin-top: -4%;
  padding: 0 2rem;
}

.loc > div > div > .carddolar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.loc > div > div > .carddolar > h4 {
  color: rgba(88, 33, 122, 0.968627451);
}

.loc > div > div > .carddolar > p {
  color: #cb1c43;
}

/*# sourceMappingURL=output.css.map */
