.loc {
    background-color: #54ff001c;
   
}

.cardh2p {
    text-align: center;
    line-height: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cardh2p>h2{
    line-height: 2em;
    font-size: 5em;
    font-weight: bold;
    color: rgba(88, 33, 122, 0.968627451);
}

.cardh2p>p {
    width: 45%;
    font-size: 1.5rem;
    word-break: break-all;
}

.loc>.content {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 32rem 32rem 32rem;
    gap: 1rem 1rem;
    justify-content: center;
    padding-bottom: 2rem;
}

.loc>div>div {
    background-color: white;
    border-radius: 1rem;
    width: 90%;

}

.loc>div>div>img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.loc>div>div>p {

    margin-top: -4%;
    padding: 0 2rem;
}

.loc>div>div>.carddolar {
    display: flex;
    justify-content: space-between;
    padding:1rem 2rem;

}
.loc>div>div>.carddolar>h4{
    color: #58217af7;
}
.loc>div>div>.carddolar>p{
    color: #cb1c43;
}